<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>TensorFlow Lite Flask API</title>
  </head>
  <body>
    <h1>Upload Image</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="image/*" required />
      <button type="submit">Predict</button>
    </form>
    <div id="result"></div>

    <script>
      document.querySelector("form").addEventListener("submit", async (e) => {
        e.preventDefault();

        const form = e.target;
        const formData = new FormData(form);

        const response = await fetch("/predict", {
          method: "POST",
          body: formData,
        });

        const result = await response.json();

        document.getElementById("result").innerHTML = `
                <p>Predicted Class: ${result.predicted_class}</p>
                <p>Confidence: ${result.confidence}</p>
            `;
      });
    </script>
  </body>
</html>
